.home-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app-title{
    text-align: center;
}

.search{
    width: 40%;
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: larger;
    padding: 10px 20px;
}

@media screen and (max-width: 800px) {
    .search {
        width: 90%;
        padding: 5px;
        margin-top: 50px;
    }
}